@import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: "Google Sans", sans-serif;
}
body{
    background-color: #4338ca;
}
.login-page {
  display: flex;
  height: 100vh;
}

.login-card {
  width: 100%;
  max-width: 320px;
  margin: auto;
  background-color: #e0e7ff;
  padding: 20px;
  border-radius: 8px;
}

.login-card__logo {
  width: 80px;
  display: block;
  margin: 0 auto 20px;
}
.login-card__link , a{
    padding-top: 2%;
    text-decoration: none;
}
.login-form__label {
  display: block;
  margin-bottom: 8px;
  color: #4338ca;
}

.login-form__input {
  width: 100%;
  padding: 8px;
  margin-bottom: 20px;
  border: none;
  border-bottom: 2px solid #4338ca;
  outline: none;
}

.login-form__button--primary {
  width: 100%;
  background-color: #4338ca;
  color: white;
  padding: 10px;
  border-radius: 6px;
  border: none;
}

.login-card__footer {
  display: flex;
  justify-content: space-between;
}